input[type=text]{
margin: 10px;
height: 30px;
width: 55%;
border-radius: 10px;
}
input[type=number]{
    margin:10px;
    width: 55%;
    height: 30px;
    border-radius: 10px;
}
form{
    text-align: center;
}
/* input[type=submit]{
    background-color: black;
    color: aliceblue;
    border-radius: 6px;
} */
    h1{
        text-align: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: aqua;
    
}
#displayerror{
    color:red;
        
}
.inputvalues{
text-align: center;
}

